.edit-large {
  width: 30px;
  height: 30px;
  background-position: -0px 0;
}

.edit-b-large {
  width: 30px;
  height: 30px;
  background-position: -40px 0;
}

.logins-large {
  width: 30px;
  height: 30px;
  background-position: -80px 0;
}

.logins-b-large {
  width: 30px;
  height: 30px;
  background-position: -120px 0;
}

.logout-large {
  width: 30px;
  height: 30px;
  background-position: -160px 0;
}

.logout-b-large {
  width: 30px;
  height: 30px;
  background-position: -200px 0;
}

.profile-large {
  width: 30px;
  height: 30px;
  background-position: -240px 0;
}

.profile-b-large {
  width: 30px;
  height: 30px;
  background-position: -280px 0;
}

.toggle-large {
  width: 30px;
  height: 30px;
  background-position: -320px 0;
}

.edit-b-large,
.edit-large,
.logins-b-large,
.logins-large,
.logout-b-large,
.logout-large,
.profile-b-large,
.profile-large,
.toggle-large {
  background-image: url(assets/img/sprites/icons-large-sprite.png);
  background-size: 360px 30px;
}

.edit-medium {
  width: 25px;
  height: 25px;
  background-position: -0px 0;
}

.edit-b-medium {
  width: 25px;
  height: 25px;
  background-position: -34px 0;
}

.logins-medium {
  width: 25px;
  height: 25px;
  background-position: -67px 0;
}

.logins-b-medium {
  width: 25px;
  height: 25px;
  background-position: -100px 0;
}

.logout-medium {
  width: 25px;
  height: 25px;
  background-position: -134px 0;
}

.logout-b-medium {
  width: 25px;
  height: 25px;
  background-position: -167px 0;
}

.profile-medium {
  width: 25px;
  height: 25px;
  background-position: -200px 0;
}

.profile-b-medium {
  width: 25px;
  height: 25px;
  background-position: -234px 0;
}

.toggle-medium {
  width: 25px;
  height: 25px;
  background-position: -267px 0;
}

.edit-b-medium,
.edit-medium,
.logins-b-medium,
.logins-medium,
.logout-b-medium,
.logout-medium,
.profile-b-medium,
.profile-medium,
.toggle-medium {
  background-image: url(assets/img/sprites/icons-medium-sprite.png);
  background-size: 300px 25px;
}

.edit-small {
  width: 20px;
  height: 20px;
  background-position: -0px 0;
}

.edit-b-small {
  width: 20px;
  height: 20px;
  background-position: -27px 0;
}

.logins-small {
  width: 20px;
  height: 20px;
  background-position: -54px 0;
}

.logins-b-small {
  width: 20px;
  height: 20px;
  background-position: -80px 0;
}

.logout-small {
  width: 20px;
  height: 20px;
  background-position: -107px 0;
}

.logout-b-small {
  width: 20px;
  height: 20px;
  background-position: -134px 0;
}

.profile-small {
  width: 20px;
  height: 20px;
  background-position: -160px 0;
}

.profile-b-small {
  width: 20px;
  height: 20px;
  background-position: -187px 0;
}

.toggle-small {
  width: 20px;
  height: 20px;
  background-position: -214px 0;
}

.edit-b-small,
.edit-small,
.logins-b-small,
.logins-small,
.logout-b-small,
.logout-small,
.profile-b-small,
.profile-small,
.toggle-small {
  background-image: url(assets/img/sprites/icons-small-sprite.png);
  background-size: 240px 20px;
}

.svg .edit-b-large,
.svg .edit-b-medium,
.svg .edit-b-small,
.svg .edit-large,
.svg .edit-medium,
.svg .edit-small,
.svg .logins-b-large,
.svg .logins-b-medium,
.svg .logins-b-small,
.svg .logins-large,
.svg .logins-medium,
.svg .logins-small,
.svg .logout-b-large,
.svg .logout-b-medium,
.svg .logout-b-small,
.svg .logout-large,
.svg .logout-medium,
.svg .logout-small,
.svg .profile-b-large,
.svg .profile-b-medium,
.svg .profile-b-small,
.svg .profile-large,
.svg .profile-medium,
.svg .profile-small,
.svg .toggle-large,
.svg .toggle-medium,
.svg .toggle-small {
  background-image: url(assets/img/sprites/icons-sprite.svg);
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

/*! normalize.css v1.0.0 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

[hidden],
audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

::-moz-selection {
  background: #2d87bb;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #2d87bb;
  color: #fff;
  text-shadow: none;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:after,
q:before {
  content: "";
  content: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

ol,
ul {
  margin: 0 0 1em;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ol,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure,
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.ir br {
  display: none;
}

.hidden {
  display: none!important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  font-size: 18px;
  line-height: 1.4444444444444444em;
  font-family: 'PT Sans',Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  color: #333;
}

h1 {
  font-size: 1.2777777777777777em;
  line-height: 1.1304347826086956em;
  margin-top: 0;
  margin-bottom: 1.1304347826086956em;
}

h2 {
  font-size: 1.2222222222222223em;
  line-height: 1.1818181818181819em;
  margin-top: 0;
  margin-bottom: 1.1818181818181819em;
}

h3 {
  font-size: 1.1666666666666667em;
  line-height: 1.2380952380952381em;
  margin-top: 0;
  margin-bottom: 1.2380952380952381em;
}

h4 {
  font-size: 1.1111111111111112em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 1.3em;
}

address,
blockquote,
dd,
dl,
h5,
h6,
hr,
iframe,
label,
ol,
p,
pre,
table,
td,
th,
ul {
  font-size: 1em;
  line-height: 1.4444444444444444em;
  margin-top: 0;
  margin-bottom: 1.4444444444444444em;
}

small {
  font-size: .8888888888888888em;
  line-height: 1.625em;
  margin-top: 0;
  margin-bottom: 1.625em;
}

strong {
  font-weight: 700;
}

a {
  color: #2d87bb;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  margin: 0;
}

button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
}

input {
  width: 100%;
  border-bottom: 1px solid #EEE;
}

input[type=submit] {
  width: auto;
}

table {
  width: 100%;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.site {
  padding-top: 2.888888888888889em;
  position: relative;
}

.site-header {
  padding-top: .7222222222222222em;
  padding-right: .7222222222222222em;
  padding-bottom: .7222222222222222em;
  padding-left: .7222222222222222em;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2ebf7a;
  border-bottom: 2px solid #249686;
  text-align: right;
}

.site-sidebar {
  position: fixed;
  top: 0;
  left: -240px;
  bottom: 0;
  width: 240px;
  background-color: #282828;
}

.site-container {
  margin: 0 auto;
  padding-left: 30px;
  max-width: 1110px;
  min-width: 290px;
}

.site-container:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.site-header {
  text-align: center;
}

.site-sidebar {
  top: 2.888888888888889em;
  left: 0;
}

.site-content {
  margin-left: 240px;
}

.message {
  padding-top: 1.4444444444444444em;
  padding-right: 1.4444444444444444em;
  padding-bottom: 1.4444444444444444em;
  padding-left: 1.4444444444444444em;
  border-bottom: 1px solid #DDD;
  margin: 0;
  text-align: center;
}

.icon {
  margin-right: .7222222222222222em;
  display: inline-block;
  vertical-align: middle;
}

.brand {
  font-size: .8888888888888888em;
  line-height: 1.625em;
  color: #FFF;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.brand small {
  display: none;
  color: #1a6d61;
  font-weight: 400;
}

.brand small a {
  color: #1a6d61;
  text-decoration: none;
  border-bottom: 1px dotted #1a6d61;
}

.brand {
  font-size: .8888888888888888em;
  line-height: 1.625em;
}

.brand small {
  display: inline;
}

.page {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
  width: 100%;
  min-height: 1px;
  padding-top: 2.888888888888889em;
}

.page-header {
  padding-bottom: 1.4444444444444444em;
  display: table;
  width: 100%;
  border-bottom: 1px solid #DDD;
  margin: 0;
}

.page-image,
.page-title {
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
}

.page-image {
  width: 60px;
}

.page-image img {
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  margin-right: .7222222222222222em;
  width: 60px;
  border: 1px solid #EEE;
}

.page-header .icon {
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  width: 45px;
}

.page-image img {
  width: 120px;
}

.nav a {
  padding-top: .5777777777777778em;
  padding-right: .5777777777777778em;
  padding-bottom: .5777777777777778em;
  padding-left: .5777777777777778em;
  padding-left: 1.4444444444444444em;
  display: block;
  color: #DDD;
  text-decoration: none;
}

.nav .current a {
  position: relative;
  background-color: #222;
  color: #FFF;
}

.nav-section {
  padding-top: .5777777777777778em;
  padding-right: .5777777777777778em;
  padding-bottom: .5777777777777778em;
  padding-left: .5777777777777778em;
  background-color: #111;
  color: #FFF;
  text-align: center;
}

.nav .current a:after {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px;
  border-right: 15px solid #fff;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  content: '';
}

.toggle {
  position: absolute;
  top: .7222222222222222em;
  left: .7222222222222222em;
  text-align: left;
  text-indent: -9999px;
}

.nav-open .site-header,
.site.nav-open {
  left: 240px;
  right: -240px;
}

.nav-open .site-sidebar {
  left: 0;
}

.toggle {
  display: none;
}

.btn {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  height: 2.3111111111111113em;
  padding-top: .4333333333333333em;
  padding-bottom: .4333333333333333em;
  padding-left: .4333333333333333em;
  padding-left: .8666666666666666em;
  padding-right: .8666666666666666em;
  line-height: 1.368421052631579em;
  float: left;
  background-color: #333;
  border-bottom: 2px solid #222;
  color: #FFF;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.btn-primary {
  background-color: #2ebf7a;
  border-bottom-color: #249686;
}

.btn {
  height: 2.888888888888889em;
  padding-top: .7222222222222222em;
  padding-bottom: .7222222222222222em;
  padding-left: .7222222222222222em;
  padding-left: 1.4444444444444444em;
  padding-right: 1.4444444444444444em;
}

.form {
  padding-bottom: 2.888888888888889em;
}

.form:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.form-actions {
  padding-top: 1.4444444444444444em;
}

.form-actions .btn {
  margin-right: .7222222222222222em;
}

.control-group:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.control-label {
  padding-top: 1.4444444444444444em;
  padding-bottom: .7222222222222222em;
  line-height: 2.1666666666666665em;
  display: block;
}

.controls input {
  height: 2.1666666666666665em;
  line-height: 2.1666666666666665em;
}

.error-message {
  padding-top: .2888888888888889em;
  font-style: italic;
}

.control-label,
.controls,
.form-actions {
  padding-top: 2.888888888888889em;
  padding-bottom: 0;
}

.control-label {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
  width: 25%;
  min-height: 1px;
  text-align: right;
}

.controls,
.form-actions {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 1.4444444444444444em;
  border-left: 1px solid #DDD;
}

.form-actions {
  margin-left: 25%;
}

.table thead {
  text-align: left;
}

.table tr {
  border-bottom: 1px solid #EEE;
}

.table td,
.table th {
  padding-top: .7222222222222222em;
  padding-bottom: .7222222222222222em;
}